

#image_close {
    position: relative;
    float: right;
    background: rgb(0, 0, 0);
	color: white;
    top: -10px;
    right: 15px;
    border-radius: 50%;
}


:host ::ng-deep .ui-dialog .ui-dialog-titlebar {
    background-color: black;
    color: white;
}

.image_Selected{
    border: 1px solid black;
}

#image_container{
    border: 3px solid black;
    padding: 5px;
}